:root {
    --primary-color:#3D3A5A; /*Base color for dark-theme. #F3F2FF for light-theme*/
    --secondary-color: #322F49; /*Section base color for dark-theme. #DEDBF4 for light-theme*/
    --btn-color: #DEDBF4; /*Button color for dark-theme. #3D3A5A for light-theme*/
    --headers-text-color: #ffffff; /*Headers text color for dark-theme. #000000 for light-theme*/
    --text-color: #DEDBF4; /*Text color for dark-theme. #3D3A5A for light-theme*/
    --btn-text-color: #3D3A5A; /*Button text color for dark-theme. #ffffff for light-theme*/
    --shadow: rgba(0, 0, 0, 0.5);
    --linkedin-color: #ffffff;
    --github-color: #ffffff;
    --unity-color: #ffffff;
    --white: #ffffff;
    --white-50: 255, 255, 255;
    --black: #000000;
    --btn-hover: #ffffff;
    --error-email: #f27272;
    --success-email: #41d841;
}

/* WHITE LIGHTMODE 
.lightmode{
    --primary-color:#F3F2FF;
    --secondary-color: #DEDBF4;
    --btn-color: #3D3A5A;
    --headers-text-color: #000000;
    --text-color: #3D3A5A;
    --btn-text-color: #ffffff; 
    --shadow: rgba(132, 111, 157, 0.34);
    --linkedin-color: #2965F1;
    --github-color: #000000;
    --unity-color: #000000;
    --white: #ffffff;
}*/


/* SAND LIGHTMODE */
.lightmode{
    --primary-color:#FFF6E8; 
    --secondary-color: #EBDDC7; 
    --btn-color: #835b04; 
    --headers-text-color: #000000; 
    --text-color: #835b04;  
    --btn-text-color: #ffffff; 
    --shadow: rgba(136, 98, 37, 0.25);
    --linkedin-color: #2965F1;
    --github-color: #000000;
    --unity-color: #000000;
    --white: #ffffff;
    --black: #000000;
    --btn-hover: #996106;
    --error-email: #c90000;
}
