.error-email {
    color: var(--error-email);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    font-weight: 700;
    font-size: 0.7rem;

}

.send-email-alert {
    color: var(--white);
    padding: 10px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 10px;
    font-weight: 700;
    font-size: 0.9rem;
}

.error-bg-color {
    background-color: var(--error-email);
}

.success-bg-color {
    background-color: var(--success-email);
}

@keyframes fadeSlideIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
    }

    .error-email,
    .send-email-alert {
    animation: fadeSlideIn 0.4s ease forwards;
}